* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .all {
    display: grid;
    grid-template-columns: 216px auto auto 216px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header header"
          "container container container container"
          "footer footer footer footer";
    justify-self: center;
    margin-top: 190px;
  }
  
  .container {
    display: grid;
    grid-area: container;
    height: 500px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    justify-self: center;
  }
  
  .registrate {
    position: absolute;
    height: 440px;
    width: 440px;
    justify-self: left;
    text-align: left;
    padding-left: 80px;
  }
  
  .signupbtn1 {
    border-color: #3578b4;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50px;
    width: 140px;
    height: 48px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
  }
  
  .signupbtn1:hover {
    background-color: #3578b4;
  }
  
  .signupbtn {
    background-color: #f89a35;
    color: white;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50px;
    width: 140px;
    height: 48px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .signupbtn:hover {
    background-color: #f8bf34;
  }
  
  .loginbtn1 {
    border-color: #3578b4;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50px;
    width: 140px;
    height: 48px;
    margin-bottom: 100px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 25px;
  }
  
  .loginbtn1:hover {
    background-color: #3578b4;
  }
  
  .loginbtn {
    background-color: #f89a35;
    color: white;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 140px;
    height: 48px;
    margin-top: 30px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .loginbtn:hover {
    background-color: #f8bf34;
  }
  
  .addbtn {
    position: absolute;
    right: 5px;
    background-color: #f89a35;
    color: white;
    border-style: solid;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50px;
    width: 100px;
    height: 35px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .addbtn:hover {
    background-color: #f8bf34;
  }
  
  .for-login {
    height: 440px;
    width: 440px;
    justify-self: right;
    text-align: left;
    padding-left: 80px;
  }
  
  label {
    font-size: 16px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8495b7;
  }
  
  .logo {
    position: absolute;
    right: 85px;
  }
  
  header {
    display: grid;
    grid-area: header;
  }
  
  footer {
    display: grid;
    grid-area: footer;
    text-transform: uppercase;
    left: 0;
    bottom: 60px;
    width: 100%;
  }
  
  .reserved {
    color: #a7b3cb;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  
  .footerdiv {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    color: #a7b3cb;
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  
  .content {
    position: relative;
    height: 416px;
    width: 920px;
    background-color: rgba(45, 60, 77, 83%);
    display: grid;
    justify-self: center;
    margin: 30px;
  }
  
  .sign-up {
    position: absolute;
    height: 460px;
    width: 460px;
    background-color: #ffffff;
    top: -21px;
    color: #8495b7;
    padding-left: 90px;
    text-align: left;
  }
  
  .login {
    position: relative;
    height: 460px;
    width: 460px;
    background-color: #ffffff;
    top: -21px;
    color: #8495b7;
    text-align: left;
    padding-left: 90px;
  }
  
  h3 {
    margin-top: 100px;
    font-size: 28px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  p {
    font-size: 16px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
  }
  
  #title {
    margin-top: 60px;
    font-size: 28px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #8495b7;
    color: black;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    width: 75%;
  }
  
  hr {
    width: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #3578b4;
    height: 2px;
    border: 0;
  }
  
  .input-icon {
    position: relative;
    margin-top: -30px;
    margin-left: 262px;
  }
  
  .test-input {
    padding-left: 20px;
  }
 
  
  #triangle-topright {
    width: 0;
    height: 0;
    border-top: 20px solid #82d2f1;
    border-left: 8px solid transparent;
    margin-left: -98px;
    margin-top: 38px;
  }
  
  #triangle-topright2 {
    width: 0;
    height: 0;
    border-top: 20px solid #82d2f1;
    border-left: 8px solid transparent;
    margin-left: -98px;
    margin-top: 12px;
  }
  
  #triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 20px solid #82d2f1;
    border-left: 8px solid transparent;
    margin-left: -98px;
    margin-top: 1px;
    z-index: -1;
  }
  
  #square {
    position: absolute;
    width: 8px;
    height: 416px;
    background: #20293a;
    z-index: -1;
    margin-left: -98px;
  }
  
  #slider {
    height: 460px;
    position: absolute;
    right: 20px;
  }
  
  .content2 {
    position: relative;
    background-color: rgba(45, 60, 77, 83%);
    display: grid;
    justify-self: center;
    margin: 30px;
    min-height: 100vh;
  }
  
  .heading {
    margin: 70px auto;
    text-align: center;
    font-family: source-sans-pro, sans-serif;
  }
  
  h2 {
    color: #8495b7;
  }
  
  h4 {
    color: #8495b7;
    margin-left: 40px;
  }
  
  .whitebg {
    position: relative;
    margin: auto;
    width: 70%;
    background: #ffffff;
    margin-top: 30px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 30px;
  }
  
  #add {
    position: relative;
    width: 70%;
    margin: auto;
    padding: 10px;
    background: white;
  }
  
  form p {
    color: red;
    margin: 0px;
  }
  
  .task_input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #8495b7;
    color: black;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    width: 90%;
  }
  
  table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
  }
  
  th {
    font-size: 19px;
    color: #8495b7;
  }
  
  th, td {
    border: none;
    height: 50px;
    padding: 5px;
  }
  
  tr:hover {
    background: #E9E9E9;
  }
  
 
  
  
  